@media screen and (max-width: 375px){
    .nav-toogle {
        display: block;
        margin-right: 0px;
        margin-top: 60px;
    }
    .hover-link{
        font-size: 40px;
    }
    .nav-links {
        position: absolute;
        background-color: white;
        left: -100%;
        top: 100%;
        width: 100%;
        padding-block: 20px;
    }
    .nav-links.active {
        left :0;
    }
    nav-links ul {
        flex-direction: column;
    }
    .main-nav{
        overflow: initial;
    }
    .header-right img{
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .header-section{
        flex-direction: column-reverse;
    }
    header{
        height: 900px;
    }
    .companies-header{
        max-width: 100vw;
        text-align: center;
        margin-left: 10%;
    }
    .primary-button{
        padding: 10px 23px;
        height: 10px;
    }
    .p1{
        margin-top: 10px;
        margin-bottom: 0px;
    }
    .secondary-button{
        padding: 10px 20px;   
    }
    .button{
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .second-section-left img{
        width: 100%;
    }
    .second-section{
        flex-direction: column;
    }
    .p2{
        font-size: 20px;
    }
    .p3{
        font-size: 15px;
    }
    .third-section{
        flex-direction: column-reverse;
    }
    .third-section-right img{
        width: 100%;
    }
    .fouth-section{
        align-items: center;
        margin-top: 20px;
    }
    .standouts{
        flex-direction: column;
    }
    .foot-1{
        flex-direction: column;
    }
    .icons img{
        height: 50px;   
    }
    .icons{
        padding-left: 20%;
        padding-top: 5px;
        margin-top: 5px;
    }
    .box{
        width: 85%;
        margin-left: 25px;
        margin-bottom: 0px;
    }
    .foot{
        padding-top: 10px;   
    }
    
}